<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>We Rollin' </title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

    <!-- Javascript --> 
    <script src="/assets/jquery.js" type = "text/javascript"></script>
    <script src="/assets/jquery_ujs.js" type = "text/javascript"></script>


</head>

<body>

    <div class="brand">We Roll</div>

    <!-- Navigation -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
                <a class="navbar-brand" href="static_pages/home.html">WeRoll</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a href="about.html">Bike Rental</a>
                    </li>
                    <li>
                        <a href="blog.html">About</a>
                    </li>
                    <li>
                        <a href="contact.html">FAQ</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="container">

        <div class="row">
            
        </div>

        <div class="row" id = "productline">
            <div class="box" id = "whyus" >
              <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                   No Summer/Winter Storage </h2>
                    <hr>
                </div>
            </div>
            <div class="box"id = "whyus" >
              <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                   Low Upfront Investment </h2>
                    <hr>
                </div>
            </div>
            <div class="box"id = "whyus" >
              <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                    No Post-Graduation Stress</h2>
                    <hr>
                </div>
            </div>
        </div>

    <!-- /.container -->

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                </div>
            </div>
        </div>
    </footer>


</body>

</html>
